@model Business.Dtos.Requests.BillCreateDto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Yeni Fatura Ekle";
}

<div class="container mt-4">
    <h2 class="mb-4">Yeni Fatura Ekle</h2>

    <form asp-action="Add" method="post">
        <div class="mb-3">
            <label for="TableId" class="form-label">Masa</label>
            <select id="TableId" name="TableId" class="form-select">
                <option value="">Seçiniz</option>
                @* Tablo listesini ViewBag.Tables ile doldur *@
                @foreach (var table in ViewBag.Tables as List<Business.Dtos.Responses.TableResponseDto>)
                {
                    <option value="@table.Id">@table.TableName</option>
                }
            </select>
            <span asp-validation-for="TableId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Status" class="form-label">Durum</label>
            <select asp-for="Status" class="form-control" asp-items="@(new SelectList(ViewBag.StatusList, "Value", "Text", Model.Status))">
                <option value="">Durum seçin</option> <!-- Varsayılan boş seçenek -->
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="TotalAmount" class="form-label">Toplam Tutar</label>
            <input type="number" step="0.01" id="TotalAmount" name="TotalAmount" class="form-control" />
            <span asp-validation-for="TotalAmount" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Geri Dön</a>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>
}
