body {
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #343a40; /* Sidebar'ın genel arka plan rengi */
    color: #fff;
    min-height: 100vh;
    padding: 0;
}

    #sidebar .top-section {
        background-color: #007bff; /* Üst kısmın arka plan rengi */
        color: #343a40;
        padding: 20px;
        /* Üst kısmı belirginleştiren alt çizgi */
    }

    #sidebar .user-info {
        font-size: 1.2em;
        font-weight: bold;
    }

    #sidebar h4 {
        color: #343a40;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    #sidebar .nav-links {
        background-color: #343a40; /* Sidebar alt kısmının arka plan rengi */
        padding: 20px;
    }

    #sidebar .nav-link {
        color: #cfcfcf;
        padding: 10px 20px;
        font-size: 1.1em;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        #sidebar .nav-link:hover {
            background-color: #495057; /* Sidebar'daki nav linkleri üzerine gelindiğinde arka plan rengi */
            color: #ffc107; /* Üzerine gelindiğinde metin rengi */
        }

        #sidebar .nav-link.active {
            background-color: #ffc107; /* Aktif link rengi */
            color: #343a40;
        }

.sidebar-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.nav-item {
    margin-bottom: 10px;
}

/* Sidebar media query adjustments */
@media (max-width: 768px) {
    #sidebar {
        min-height: auto;
    }
}
